.edit-post-visual-editor .editor-block-list__block {
	.alignwide {
		max-width: 1100px;
	}
}

.container-wrapper {
	max-width: 1100px;
	.image-container {
		width: 100%;
	}

	.info-container {
		width: 100%;
                overflow: hidden;
                overflow-wrap: break-word;
                resize: none;
                color:#fff;
	}
        .button-bg{ width: 100%;}

	.container-image {
		&.image-inactive {
			figure {
				display: none;
			}
		}

		&.image-active {
			.components-placeholder {
				display: none;
			}
		}
	}
        .image-container{
            padding: 100px 20px;
            background-size: cover;
            
        }

/*	a.container-link {
		background: #ffffff;
		border-radius: 4px;
		border: 1px solid #3278BD;
		box-shadow: none;
		color: #3278BD;
		cursor: not-allowed;
		display: inline-block;
		height: auto;
		line-height: 1;
		margin-top: 10px;
		padding: 10px 20px;
		pointer-events: none;
		text-align: center;
		vertical-align: top;
		width: 250px;

		&:hover,
		&:focus {
			background: #3278BD;
			border: 1px solid #3278BD;
			color: #ffffff;
			text-decoration: none;
		}
	}*/

}